<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>FiltersList component</title>
  <link rel="stylesheet" href="style.css">

  <style>
    .wrapper {
      width: 400px;
      margin: 100px auto;
    }
  </style>
</head>
<body>
<main>
  <div class="wrapper">
    <div class="os-filter">
      <h3 class="os-filter__title">Category</h3>
      <ul class="os-filter__list">
        <li class="os-filter__item">
          <input
            class="os-filter__input"
            id="filter-category-0"
            type="checkbox"
            name="filter"
            value="category=cellphones"
          >
          <label class="os-filter__label" for="filter-category-0">Cell phones</label>
        </li>
        <li class="os-filter__item">
          <input
            class="os-filter__input"
            id="filter-category-1"
            type="checkbox"
            name="filter"
            value="category=monitors"
          >
          <label class="os-filter__label" for="filter-category-1">Monitors</label>
        </li>
      </ul>
    </div>
  </div>
</main>
</body>
</html>
