<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>SearchBox component</title>

  <link rel="stylesheet" href="style.css">

  <style>
    .wrapper {
      width: 400px;
      margin: 100px auto;
    }
  </style>
</head>
<body>
<main>
  <div class="wrapper">
    <label class="searchbox">
      <input
        type="text"
        class="searchbox__input"
        placeholder="Search"
      >
      <i class="bi bi-search searchbox__icon"></i>
    </label>
  </div>
</main>
</body>
</html>
